*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #2E2E2E;
  background: -webkit-radial-gradient(bottom right, #2E2E2E, #3A3A3A);
  background: -moz-radial-gradient(bottom right, #2E2E2E, #3A3A3A);
  background: radial-gradient(to top left, #2E2E2E, #3A3A3A);
}

main {
  max-width: 960px;
  height: 70vh;
  margin: 10vh auto;
}

/* Visualization Header */
main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Legend {
  display: flex;
  align-items: center;
}

.LegendTitle {
  margin-right: 20px;
}

.LegendKeys {
  display: flex;
  flex-flow: row wrap;
}

.Legend .Standard {
  width: 2em;
  height: 2em;
}

.Legend .StandardLabel {
  width: 1.5em;
  height: 1.5em;
}

/* Dropdown Menus */
select {
  cursor: pointer;
  background-color: #2e2e2e;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Main Standards Visualization */
#StandardsViz {
  overflow-y: scroll;
  scrollbar-color: #4a4a4a #1e1e1e;
  scrollbar-width: thin;
}


figure {
  width: 100%;
  height: 100%;
}

.Standard {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.StandardLabel {
  font-family: "Source Code Pro", monospace;
  color: white;
  background-color: #2e2e2e;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
