:root {
  --darkGray: #2e2e2e;
  --lightGray: #3a3a3a;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--darkGray);
}

main {
  max-width: 960px;
  height: 70vh;
  margin: 10vh auto;
}

/* Visualization Header */
main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Legend {
  display: flex;
  align-items: center;
}

.LegendTitle {
  margin-right: 20px;
}

.LegendKeys {
  display: flex;
  flex-flow: row wrap;
}

.Legend .Standard {
  width: 2em;
  height: 2em;
}

.Legend .StandardLabel {
  width: 1.5em;
  height: 1.5em;
}

/* Dropdown Menus */
select {
  cursor: pointer;
  background-color: var(--darkGray);
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Main Standards Visualization */
#StandardsViz {
  overflow-y: auto;
  scrollbar-color: #4a4a4a #1e1e1e;
  scrollbar-width: thin;
}

#StandardsViz::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

figure {
  width: 100%;
  height: 100%;
}

/* Domain Groups */
.Domain {
  display: flex;
  flex-flow: column;
  min-height: 4em;
  border: 1px solid var(--lightGray);
  border-radius: 1em;
  margin: .5em auto;
  padding: .5em;
}

.DomainLabel {
  font-weight: normal;
}

.Standards {
  display: flex;
  flex-flow: row wrap;
}

/* Standards */
.Standard {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.StandardLabel {
  font-family: "Source Code Pro", monospace;
  color: white;
  background-color: var(--darkGray);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
